.about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about h1 {
    color: white;
    position: absolute;
    top: 9%;
    font-size: 18px;
}
.aboutSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8%;
    gap: 15%;
}
.aboutImg {
    width: 300px;
    height: 300px;
    border-radius: 35%;
    animation: moveUpDown 1.5s infinite alternate;
}
@keyframes moveUpDown {
0% {
    transform: translateY(10px);
}
100% {
    transform: translateY(0);
}
}
.about2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 15%;
}
.about2info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.about2info img {
    width: 50px;
    height: 50px;
}
.about2info1 {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 5%;
}
.about2info1 h2 {
    color: white;
    font-size: 18px;
    margin: 3px 0;
}
.about2info1 h3 {
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.textscramble {
    color: rgb(200, 200, 200);
    font-size: 20px;
}

@media (max-width: 1150px){
    .about {
        margin-top: 10%;
    }
    .aboutSection {
        flex-direction: column;
    }
    .aboutImg {
        width: 180px;
        height: 180px;
        position: relative;
        margin-top: 30px;
    }
    .about2 {
        margin-left: 13%;
        margin-top: 5%;
    }
    .about2info img {
        width: 35px;
        height: 35px;
    }
    .textscramble {
        font-size: 16px;
    }
    .aboutSection {
        margin-bottom: 80px;
    }
    .about h1 {
        font-size: 13px;
    }
}
@media (max-width: 900px){
    .about2info1 {
        width: 300px;
    }
    .about2 {
        margin-right: 5%;
        margin-top: 15%;
    }
    .about2info1 h2 {
        font-size: 16px;
    }
    .about2info1 h3 {
        font-size: 13px;
    }
    .about {
        margin: 100px 0;
    }
}
@media (max-width: 500px){
    .about2info1 {
        width: 300px;
    }
}
@media (max-height: 700px){
    .aboutImg {
        margin-top: 100px;
    }
}