.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.heroimg {
    width: 250px;
    height: 250px;
    border-radius: 35%;
    animation: moveUpDown 1.5s infinite alternate;
}
@keyframes moveUpDown {
0% {
    transform: translateY(10px);
}
100% {
    transform: translateY(0);
}
}
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.info1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    z-index: 1;
}
.info1 h1 {
    color: white;
    font-size: 25px;
}
.info2 {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.info2 img {
    background: white;
    width: 50px;
    height: 50px;
    margin: 5px 10px;
    border-radius: 40%;
    padding: 2px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.info2 img:hover {
    transform: translateY(-5px);
}
.info2 img:active {
    background: gray;
}

@media (max-width: 900px){
    .home {
        flex-direction: column;
        margin-bottom: 100px;
    }
    .info1 {
        margin-top: 25%;
    }
    .heroimg {
        width: 200px;
        height: 200px;
        margin-bottom: 0;
        margin-top: 50px;
    }
    .info1 h1 {
        font-size: 20px;
    }
    .info2 img {
        width: 25px;
        height: 25px;
    }
}
