.contact {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.contact h1 {
    color: white;
    position: absolute;
    top: 9%;
    font-size: 18px;
}
.contact hr {
    color: white;
    position: absolute;
    top: 15%;
    font-size: 20px;
    width: 80%;
}
.contact h3 {
    color: white;
    position: absolute;
    top: 20%;
    font-size: 15px;

}
.line {
    width: 90%;
    border: 1px solid white;
}

.intro {
    color: white;
}

.formContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 150px;
}

.Section1 {
    width: 100%;
}
.Section1 form {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.inputField {
    width: 500px;
    padding: 13px;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.textarea {
    resize: vertical;
    height: 100px;
}

.verificationContainer {
    border: 1px solid gray;
    margin-top: 20px;
    padding: 10px 0;
    width: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.verificationContainer p {
    margin: 15px 0;
    font-size: 15px;
    font-weight: 500;
}
.randomTextContainer {
    display: flex;
    margin-bottom: 10px;
}

.randomTextContainer span {
    border: 2px solid gray;
    padding: 5px 8px;
    color: white;
    margin: 0 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}
.verifyinputField {
    border: 1px solid gray;
    background: black;
    color: white;
    height: 40px;
    width: 80%;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    padding-left: 20px;
    margin-top: 20px;
}
.verifyButton {
    margin-top: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 800;
    padding: 0 30px;
    height: 30px;
    background: white;
    border: 0;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    border: 0;
}
.verificationPassed {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.verificationPassed img {
    width: 40px; 
    height: 40px; 
}
.errorMessage {
    margin-top: 10px;
    color: red;
    font-weight: 300;
    font-size: 13px;
}

.sendMessageButton {
    margin-top: 20px;
    cursor: pointer;
    height: 35px;
    padding: 0 30px;
    color: black;
    font-size: 15px;
    font-weight: 800;
    border-radius: 8px;
    border: 0;
}

@media (max-width: 800px){
    .contact h1 {
        font-size: 18px;
    }
    .contact h3 {
        font-size: 12px;
        font-weight: 600;
        width: 250px
    }
    .inputField {
        width: 260px;
        font-size: 15px;
        font-weight: 500;
    }
    .verificationContainer {
        width: 250px;
    }
    .verifyinputField {
        font-size: 15px;
    }
    .randomTextContainer span {
        font-size: 15px;
        font-weight: 600;
    }
    .verificationContainer p {
        font-size: 13px;
    }
    .sendMessageButton {
        height: 30px;
        padding: 0 20px;
        font-size: 14px;
        margin-top: 30px;
    }
    .verifyButton {
        padding: 0 20px;
        height: 30px;
        font-size: 14px;
    }
}
