.footer {
    padding: 13px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
}
.footer pre {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 600;
  font-family: "Indie Flower", cursive;
}
@media screen and (max-width: 800px) {
  .footer pre {
    font-size: 13px;
  }
}
