.footer {
    padding: 13px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
}
.footer pre {
  color: white;
  font-size: 15px;
  font-weight: 600;
  font-family: "Indie Flower", cursive;
}
@media screen and (max-width: 800px) {
  .footer pre {
    font-size: 13px;
  }
}
