@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Indie+Flower&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    font-family: "Exo 2", sans-serif;
    overflow: hidden;
}
body {
    background: black;
    min-height: 100vh;
}
