.work {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.work h1 {
    color: white;
    position: absolute;
    top: 9%;
    font-size: 18px;
}
.worksection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 80px;
    gap: 20%;
}
/* Icon */
.techIcon {
    display: flex;
    flex-direction: column;
}
.workIconRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.workIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin: 8px 10px;
    padding: 10px;
}
.workIcon img {
    width: 65px;
    height: 65px;
    border: 3px solid rgb(91, 91, 91);
    border-radius: 40%;
    margin: 0 10px;
    padding: 10px;
}
.workIcon h3 {
    color: white;
    font-size: 15px;
}

/* Info */
.workinfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.workinfo1 {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 2px solid rgb(91, 91, 91);
    border-radius: 15px;
    margin-top: 15px;
    padding: 10px;
}
.workinfo1 img {
    width: 100px;
    height: 80px;
}
.instacartIcon {
    background: white;
    border-radius: 20px;
    padding: 2px;
}
.workintro {
    display: flex;
    flex-direction: column;
}
.workintro h2 {
    color: white;
    font-size: 18px;
}
.workintro p {
    color: white;
    margin-bottom: 10px;
}
.workduty li {
    color: white;
    margin: 5px 0;
}
@media (max-width: 1200px){
    .worksection {
        flex-direction: column-reverse;
        gap: 30px;
    }
    .workinfo {
        gap: 10px;
    }
    .workinfo1 img {
        width: 40px;
        height: 40px;
    }
    .workduty {
        width: 300px;
    }
    .workIcon img {
        width: 45px;
        height: 45px;
        padding: 5px;
        margin: 0 5px;
    }
    .workIcon h3 {
        font-size: 8px;
    }
    .work h1 {
        font-size: 13px;
    }
    .workintro h2 {
        font-size: 16px;
        font-weight: 700;
    }
    .workintro p {
        font-size: 12px;
    }
    .workduty li {
        font-size: 14px;
        font-weight: 500;
    }
    .workduty {
        width: 300px;
    }
}

@media (max-width: 430px){
    .workduty {
        width: 220px;
    }
    .workIcon {
        margin: 0;
    }
}